@charset "UTF-8";

.su-multi-menu>.su-multi-menu__menu>.su-multi-menu__item.su-multi-menu__item--active-trail .su-multi-menu__item--current > .su-multi-menu__link,
.su-multi-menu .su-multi-menu__menu-lv1>.su-multi-menu__item.su-multi-menu__item--current>.su-multi-menu__link {
  color: $su-color-digital-red;
}

.su-multi-menu {
  &.su-multi-menu--right {
    .su-multi-menu__menu-lv1,
    > ul {
      justify-content: center;
    }
  }

  .su-multi-menu__nav-toggle--right {
    &:hover::before,
    &::before {
      color: transparent;
      background-color: transparent;
    }

    &[aria-expanded="true"] {
      color: $su-color-white;

      &::before {
        color: $su-color-white;
        background-color: $su-color-white;
      }
    }
  }

  .su-multi-menu__link:focus,
  .su-multi-menu__link:hover {
    &::before {
      background-color: $su-color-digital-red;
    }
  }

  // drop down menus.
  @include grid-media-min('lg') {
    > .su-multi-menu__menu > .su-multi-menu__item {
      .su-multi-menu__link {
        color: $su-color-black;

        &:hover,
        &:focus {
          color: $su-color-digital-red;
          text-decoration: none;

          &::before {
            background-color: $su-color-digital-red;
            transform: scaleX(1);
            visibility: visible;
          }
        }
      }

      &.su-multi-menu__item--active-trail {
        .su-multi-menu__link {
          // color: $su-color-digital-red;

          &::before {
            background-color: $su-color-digital-red;
          }

          &:hover,
          &:focus {
            color: $su-color-digital-red;
            text-decoration: none;

            &::before {
              background-color: $su-color-digital-red;
              display: block;
            }
          }
        }
      }
    }
  }

  > .su-multi-menu__menu.su-multi-menu__menu-lv1 {
    > .su-multi-menu__item.su-multi-menu__item--active-trail { 
      button[aria-expanded=true] {
        + ul {
          .su-multi-menu__link {
            &::before {
              background-color: $su-color-bright-red;
            }
          }
        }
      }
    }
  }

  // First level of nav that needs to be white
  @include grid-media-min('lg') {
    > .su-multi-menu__menu.su-multi-menu__menu-lv1 > .su-multi-menu__item {
      > .su-multi-menu__link {
        color: $su-color-white;

        &:hover,
        &:focus {
          color: $su-color-white;
          text-decoration: none;

          &::before {
            background-color: $su-color-white;
            transform: scaleX(1);
            visibility: visible;
          }
        }
      }

      &.su-multi-menu__item--active-trail {
        .su-multi-menu__link {

          &::before {
            background-color: $su-color-white;
          }

          &:hover,
          &:focus {
            // color: $su-color-white;
            text-decoration: none;

            &::before {
              background-color: $su-color-white;
              display: block;
            }
          }
        }
      }
    }
  }

  // mobile hamburger white.
  .su-multi-menu__nav-toggle {
    color: $su-color-white;

    &:hover {
      color: $su-color-white;
    }

    &:after {
      background: url("#{$su-image-path}/hamburger-white.svg") no-repeat 3px 0;
    }

    &[aria-expanded=true]:after {
      background: url("#{$su-image-path}/close-white.svg") no-repeat 3px 0;
    }

    &:active:before,
    &[aria-expanded=false]:focus:before,
    &[aria-expanded=false]:hover:before,
    &[aria-expanded=true]:focus:before,
    &[aria-expanded=true]:hover:before {
      background-color: $su-color-white;
    }
  }
  
  // Change the caret for only the large and up.
  @include grid-media-min('lg') {
    &.su-multi-menu--right.su-multi-menu--dropdowns {
      .su-multi-menu__menu.su-multi-menu__menu-lv1 {
        >.su-multi-menu__item--parent {
          >.su-nav-toggle {

            &::before {
              background: transparent url("#{$su-image-path}/caret-down-white.svg") no-repeat center / 50%;
            }

            &:focus,
            &:hover {
              &::before {
                background: transparent url("#{$su-image-path}/caret-down-white.svg") no-repeat center / 50%;
              }
            }
          }
        }
      }
    }
  }
}

.su-site-search {
  display: none;
}