{# Glue code for Decanter's component #}
{% import "@jumpstart_ui/macros/field-links-to-list.twig" as linklist %}
{% import "@jumpstart_ui/macros/field-links-to-social-list.twig" as sociallist %}


<div class="newschool-fat-footer su-local-footer">
  <div class="newschool-fat-footer__columns su-local-footer__columns">
    <div class="newschool-fat-footer__cell1 su-local-footer__cell1">
      <div class="newschool-fat-footer__lockup">
        <div class="su-lockup su-lockup--option-b">
          <a href="/">
            <div>{{ fat_footer_logo}}</div>
          </a>
        </div>
      </div>

      {# Contact section. #}
      <div class="newschool-fat-footer__contact">
      <ul>
        <li><a href="/contact-us" class="contact-link">Contact us</a></li>
        <li><a href="/stay-touch" class="contact-link">Stay in touch</a></li>
        </ul>
      </div>
    </div>

    <div class="su-local-footer__cell2 newschool-fat-footer__cell2">
      <nav class="newschool-fat-footer__links-section newschool-fat-footer__links-section-1" aria-label="newschool footer section 1">
        <h2 class="su-local-footer__list-heading">Merging to form the new school:</h2>
        <ul class="newschool-fat-footer__links-column-1">
          <li><a href="https://earth.stanford.edu/">School of Earth, Energy & Environmental Sciences</a></li>
          <li><a href="https://woods.stanford.edu/">Stanford Woods Institute for the Environment</a></li>
          <li><a href="https://energy.stanford.edu/">Precourt Institute for Energy</a></li>
          <li><a href="https://hopkinsmarinestation.stanford.edu/">Hopkins Marine Station</a></li>
          <li><a href="https://cee.stanford.edu/">Department of Civil & Environmental Engineering (joint with the School of Engineering)</a></li>
        </ul>
      </nav>

      <nav class="newschool-fat-footer__links-section newschool-fat-footer__links-section-2" aria-label="newschool footer section 2">
        <ul class="newschool-fat-footer__links-column-2">
          <li><a href="/history">School history</a></li>
          <li><a href="/students-academics">Academics</a></li>
          <li><a href="/about-school/diversity-equity-and-inclusion">Diversity, Equity, and Inclusion</a></li>
          <li><a href="/news">News</a></li>
          <li><a href="/vision-impact">Giving</a></li>

        </ul>
      </nav>
    </div>
  </div>
</div>
